<!DOCTYPE html>
<html lang="zh-CN">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="DzhOPS(当你看到这个，我想告诉你的是，我根本就不会写前端!)">
    <meta name="author" content="Guibin">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/theme/dashboard.css" rel="stylesheet">

    <!--JavaScript-->
    <script src="/static/otherjs/jquery.min.js"></script>
    <script src="/static/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/static/otherjs/docs.min.js"></script>
    <script src="/static/otherjs/dzhops.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/otherjs/ie10-viewport-bug-workaround.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <script type="text/javascript" async="" src="/static/otherjs/ga.js"></script><script type="text/javascript" charset="UTF-8" src="/static/otherjs/cloud.js"></script><script src="/static/otherjs/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="/static/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">移动终端自动化运维平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					{% if user.is_authenticated %}
						<li><a href="/accounts/logout">退出</a></li>
					{% else %} 
						登录
					{% endif %}
				</a>  
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
			<div class="media user-media bg-dark dker">
				<div class="user-media-toggleHover">
					<span class="fa fa-user"></span> 
				</div>
				<div class="user-wrapper bg-dark">
					<img class="media-object img-circle user-img" width="58" height="58" alt="User Picture" src="/static/img/{{ user.username }}.jpg">
					<div class="media-body">
						{% if user.is_authenticated %}
							<strong class="font-bold"><a href="/accounts/profile">{{ user.username }}</a></strong>
						{% else %} 
							登录
						{% endif %}
					</div>
				</div>
			</div>
			<div>
				<ul class="nav nav-sidebar">
					<li><a></a></li>
					{% block nav %}{% endblock %}
				</ul>
			</div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			{% block content %}{% endblock %}
        </div>
      </div>
    </div>
</body>
</html>
