{% extends "base.html" %}
{% block title %}主机列表-移动终端自动化运维平台{% endblock %}
{% block nav %}
    <li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-dashboard"></i> 仪表盘</a></li>
    <li><a href="{% url 'host_list' %}"><i class="glyphicon glyphicon-th-list"></i> 主机列表</a></li>
    <li><a href="{% url 'module_deploy' %}"><i class="glyphicon glyphicon-th-large"></i> SaltStack</a></li>
    <li><a href="{% url 'replace_data' %}"><i class="glyphicon glyphicon-repeat"></i> 数据修复</a></li>
    <li><a href="{% url 'key_list' %}"><i class="glyphicon glyphicon-tags"></i> MinionKeys</a></li>
    <li class="active"><a href="{% url 'record' %}"><i class="glyphicon glyphicon-floppy-disk"></i> 操作记录<span class="sr-only">(current)</span></a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <p>Minion数量：{{ minion_sum }}</p>
        {% if minion_info_dict %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IP地址</th>
                        <th>主机名</th>
                        <th>MinionID</th>
                        <th>运营商</th>
                        <th>类别</th>
                        <th>地区</th>
                        <th>机房</th>
                    </tr>
                </thead>
                {% for mini_key_li in minion_keys_list %}
                    <tbody>
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for mini_key_di,mini_data in minion_info_dict.iteritems %}
                                {% if mini_key_li == mini_key_di %}
                                    {% for i in mini_data %}
                                        <td>{{ i }}</td>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}
