{% extends "base.html" %}
{% load spacify %}
{% block title %}数据修复-移动终端自动化运维平台{% endblock %}
{% block nav %}
    <li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-dashboard"></i> 仪表盘</a></li>
    <li><a href="{% url 'host_list' %}"><i class="glyphicon glyphicon-th-list"></i> 主机列表</a></li>
    <li><a href="{% url 'module_deploy' %}"><i class="glyphicon glyphicon-th-large"></i> SaltStack</a></li>
    <li class="active"><a href="{% url 'replace_data' %}"><i class="glyphicon glyphicon-repeat"></i> 数据修复<span class="sr-only">(current)</span></a></li>
    <li><a href="{% url 'key_list' %}"><i class="glyphicon glyphicon-tags"></i> MinionKeys</a></li>
    <li><a href="{% url 'record' %}"><i class="glyphicon glyphicon-floppy-disk"></i> 操作记录</a></li>
{% endblock %}
{% block content %}
    <h5 class="page-header">
        <ol class="breadcrumb">
            <li><a href="{% url 'replace_data' %}">历史数据</a></li>
            <li class="active">全部数据</li>
        </ol>
    </h5>
    <div class="row">
        <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="/data/replace/all/">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-offset-1 col-md-1 control-label">数据源IP</label>
                <div class="col-md-4">
                    {{ form.data_source }}
                    {{ form.data_source.errors }}
                </div>
                <!--
                <label class="col-md-1 control-label">数据目录</label>
                <div class="col-md-4">
                    {{ form.data_path }}
                    {{ form.data_path.errors }}
                </div>
                -->
            </div>
            <div class="form-group">
                <label class="col-md-offset-1 col-md-1 control-label">数据市场</label>
                <div class="col-md-9">
                    {% for index,exch in stkindex_dict.iteritems %}
                        <label class="checkbox-inline">
                            <input class="icheck" type="checkbox" value="{{ exch }}" name="stockexchange">{{ index }}
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-offset-1 col-md-1 control-label">目标主机</label>
                <div class="col-md-9">
                    {{ form.target_server }}
                    {{ form.target_server.errors }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-offset-1 col-md-1 control-label">目标机房</label>
                <div class="col-md-9">
                    <label class="checkbox-inline">
                        <input class="icheck" type="checkbox" value="*" name="datacenter">全部服务器</label>
                    {% for dcen_li in dc_list %}
                        {% for dcen,dccn in data_centers.iteritems %}
                            {% if dcen == dcen_li %}
                                <label class="checkbox-inline">
                                    <input class="icheck" type="checkbox" value="{{ dcen }}" name="datacenter">{{ dccn }}</label>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-10 col-md-1">
                    <!--start-->
                    <!-- Large modal -->
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">提交</button>
                    <div class="modal fade" id='myModal' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop='static' data-keyboard='false'>
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <span style="text-align:center;color:red">
                                    <br />
                                    <h4>命令已经提交，正在执行中...</h4>
                                    <h4>请不要按<strong>&lt;ESC&gt;键</strong></h4>
                                    <h4>请不要对本页进行<strong>刷新、关闭</strong>等操作</h4>
                                    <h4>数据较大，请耐心等候...</h4>
                                    <br />
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                                <span class="sr-only">75% 完成</span>
                                            </div>
                                        </div>
                                    <br />
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end-->
                </div>
            </div>
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-1 control-label">返回结果</label>
                      {% if errors %}
                        <div class="col-md-9">
                          {% for error in errors %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ error }}
                            </div>
                          {% endfor %}
                        </div>
                      {% else %}
                          <div class="col-md-11">
                              {% if hostsft %}
                                <div class="alert alert-success" role="alert">
                                  <strong>
                                    本次执行对象共{{ hostsft.sum }}台，其中{{ hostsft.rsum }}台返回结果：成功{{hostsft.tr}}台，失败{{hostsft.fa}}台；
                                    {% if hostsft.unrestr %}
                                    未返回结果的有以下{{hostsft.unre}}台：{{ hostsft.unrestr }}
                                    {% endif %}
                                  </strong>
                                </div>
                              {% endif %}
                                {% if ret %}
                                    {% for each_ret,each_val in ret.items %}
                                        <!-- Button trigger modal -->
                                        <div class="col-md-4">
                                            {% if each_val.status == 'True' %}
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{ each_ret|cut:'.' }}">{{ each_ret }}</button>
                                            {% else %}
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ each_ret|cut:'.' }}">{{ each_ret }}</button>
                                            {% endif %}
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="{{ each_ret|cut:'.' }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">{{ each_ret }}</h4>
                                              </div>
                                              <div class="modal-body">
                                                {{ each_val.cont|linebreaksbr|spacify|safe }}
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                          </div>
                      {% endif %}
                </div>
        </form>
    </div>
{% endblock %}
