{% extends "base.html" %}
{% block title %}主机列表-移动终端自动化运维平台{% endblock %}
{% block nav %}
    <li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-dashboard"></i> 仪表盘</a></li>
    <li><a href="{% url 'host_list' %}"><i class="glyphicon glyphicon-th-list"></i> 主机列表</a></li>
    <li><a href="{% url 'module_deploy' %}"><i class="glyphicon glyphicon-th-large"></i> SaltStack</a></li>
    <li><a href="{% url 'replace_data' %}"><i class="glyphicon glyphicon-repeat"></i> 数据修复</a></li>
    <li><a href="{% url 'key_list' %}"><i class="glyphicon glyphicon-tags"></i> MinionKeys</a></li>
    <li class="active"><a href="{% url 'record' %}"><i class="glyphicon glyphicon-floppy-disk"></i> 操作记录<span class="sr-only">(current)</span></a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            {% for dcen_li in dcen_list %}
                {% for dcen,dccn in data_centers.iteritems %}
                    {% if dcen == dcen_li %}
                        <a class="btn btn-info btn-block" href="/common/data/collection/?datacenter={{ dcen }}" role="button">{{ dccn }}</a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
