{% extends "base.html" %}
{% block title %}主机管理-移动终端自动化运维平台{% endblock %}
{% block nav %}
    <li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-dashboard"></i> 仪表盘</a></li>
    <li class="active"><a href="{% url 'host_list' %}"><i class="glyphicon glyphicon-th-list"></i> 主机列表<span class="sr-only">(current)</span></a></li>
    <li><a href="{% url 'module_deploy' %}"><i class="glyphicon glyphicon-th-large"></i> SaltStack</a></li>
    <li><a href="{% url 'replace_data' %}"><i class="glyphicon glyphicon-repeat"></i> 数据修复</a></li>
    <li><a href="{% url 'key_list' %}"><i class="glyphicon glyphicon-tags"></i> MinionKeys</a></li>
    <li><a href="{% url 'record' %}"><i class="glyphicon glyphicon-floppy-disk"></i> 操作记录</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal form-border" id="form" method="post" action=".">
                           {% csrf_token %}
                           <div class="form-group">
                                 <label class="col-md-3 control-label">主机名</label>
                                 <div class="col-md-6">
                                 {{ form.hostname }}
                                 {{ form.hostname.errors }}
                                 </div>
                           </div>
                           <div class="form-group">
                                 <label class="col-sm-3 control-label">IP地址</label>
                                 <div class="col-sm-6">
                                 {{ form.ip }}
                                 {{ form.ip.errors }}
                                 </div>
                           </div>
                           <div class="form-group">
                                 <label class="col-sm-3 control-label">类别</label>
                                 <div class="col-sm-6">
                                 {{ form.catagory }}
                                 {{ form.catagory.errors }}
                                 </div>
                           </div>
                           <div class="form-group">
                                 <label class="col-sm-3 control-label">机房</label>
                                 <div class="col-sm-6">
                                 {{ form.dccn }}
                                 {{ form.dccn.errors }}
                                 </div>
                           </div>
                           <div class="form-group">
                                 <label class="col-sm-3 control-label">维护人员</label>
                                 <div class="col-sm-6">
								 <!--
									<select class="form-control">
									  <option>段富荣</option>
									  <option>小铃铛</option>
									  <option>朱捷文</option>
									  <option>龚卫振</option>
									  <option>周颖飞</option>
									</select>

                                    <select name="sel">
                                        <option value="1">段富荣</option>
                                        <option value="2">小铃铛</option>
                                        <option value="3">朱捷文</option>
                                        <option value="4">秦磊</option>
                                        <option value="5">龚卫振</option>
                                        <option value="6">栋栋</option>
                                        <option value="7">周颖飞</option>
                                        <option value="8">赵贵斌</option>
                                    </select>
                                 -->
                                 {{ form.engineer }}
                                 {{ form.engineer.errors }}

                                 </div>
                           </div>
                           <div class="form-group">
                                 <label class="col-md-3 control-label">MAC地址</label>
                                 <div class="col-md-6">
                                 {{ form.macaddr }}
                                 {{ form.macaddr.errors }}
                                 </div>
                           </div>
                           <div class="form-group">
                                 <label class="col-sm-3 control-label">主行情源</label>
                                 <div class="col-sm-6">
                                 {{ form.zsourceip }}
                                 {{ form.zsourceip.errors }}
                                 </div>
                           </div>
                           <div class="form-group">
                                 <label class="col-sm-3 control-label">备行情源</label>
                                 <div class="col-sm-6">
                                 {{ form.bsourceip }}
                                 {{ form.bsourceip.errors }}
                                 </div>
                           </div>
                           <div class="form-group">
                                 <label class="col-sm-3 control-label">授权日期</label>
                                 <div class="col-sm-6">
                                 {{ form.licdate }}
                                 {{ form.licdate.errors }}
                                 </div>
                           </div>
                           <div class="form-group">
                                 <label class="col-sm-3 control-label">授权状态</label>
                                 <div class="col-sm-6">
                                 {{ form.licstatus }}
                                 {{ form.licstatus.errors }}
                                 </div>
                           </div>
                           <div class="form-group">
                                 <label class="col-sm-3 control-label">备注</label>
                                 <div class="col-sm-6">
                                 {{ form.remark }}
                                 {{ form.remark.errors }}
                                  </div>
                           </div>
                           <div class="col-sm-offset-8 col-sm-10">
                                 {% ifequal action 'add' %}
                                 <button type="submit" class="btn btn-primary">添加</button>
                                 {% endifequal %}
                                 {% ifequal action 'edit' %}
                                 <button type="submit" class="btn btn-primary" name="operate" value="update">更新</button>
                                 {% endifequal %}
                           </div>
                    </form>

                </div> <!-- panel body -->
            </div> <!-- panel end -->
        </div> <!-- col end -->
    </div> <!-- row end -->
{% endblock %}
