{% extends "base.html" %}
{% block title %}移动终端自动化运维平台{% endblock %}
{% block nav %}
    <li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-dashboard"></i> 仪表盘<span class="sr-only">(current)</span></a></li>
    <li><a href="{% url 'asset_list' %}"><i class="glyphicon glyphicon-th-list"></i> 主机列表</a></li>
    <li><a href="{% url 'module_deploy' %}"><i class="glyphicon glyphicon-th-large"></i> SaltStack</a></li>
    <li><a href="{% url 'repair_data' %}"><i class="glyphicon glyphicon-repeat"></i> 数据修复</a></li>
    <li><a href="{% url 'keys_show' %}"><i class="glyphicon glyphicon-tags"></i> MinionKeys</a></li>
    <li><a href="{% url 'record' %}"><i class="glyphicon glyphicon-floppy-disk"></i> 操作记录</a></li>
{% endblock %}
{% block content %}
    <h5 class="page-header">
        <ol class="breadcrumb">
            <li><a href="{% url 'profile' %}">修改密码</a></li>
            <li class="active">上传头像</li>
        </ol>
    </h5>
    <div class="row">
        <p><h4>上传头像</h4></p>
        <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="/accounts/upload/">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-offset-1 col-md-2 control-label">图片格式: jpg/png</label>
                <div class="col-md-4">
                    {{ form.file }}
                    {{ form.file.errors }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-1">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
