{% extends "base.html" %}

{% block content %}

<form action="" enctype="multipart/form-data" method="post">
{% csrf_token %}
    <div class="card">
        <div class="text-section">
            <p>username:</p>
        </div>
        <div class="input-section">
            <p><input type="text" value="username" name="username"></p>
        </div>
    </div>
    <div class="card">
        <div class="text-section">
            <p>password:</p>
        </div>
        <div class="input-section">
            <p><input type="password" value="password" name="password"></p>
        </div>
    </div>
    <div class="card">
        <div class="text-section">
            <p><input type="submit" value="submit" ></p>
        </div>
    </div>
</form>

{% endblock %}
