{% extends "base.html" %}
{% block title %}远程操作-移动终端自动化运维平台{% endblock %}
{% block nav %}
    <li><a href="{% url 'key_list' %}">认证信息</a></li>
    <li><a href="{% url 'module_deploy' %}">模块部署</a></li>
    <li><a href="{% url 'module_update' %}">模块更新</a></li>
    <li class="active"><a href="{% url 'remote_execution' %}">远程操作</a></li>
    <li><a href="{% url 'host_list' %}">主机列表</a></li>
{% endblock %}
{% block content %}
    <div class="container theme-showcase" role="main">

             <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                             <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="/common/remote/execution/?action=exec">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">目标主机</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" name="tgt" value={{ tgt }}>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">远程命令</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" name="arg" value={{ arg }}>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <div class="col-sm-offset-11 col-sm-12">
                                              <!--button type="submit" class="btn btn-primary">提交</button-->
                                              <button type="submit" id='loading-example-btn' class="btn btn-primary" data-loading-text="..." autocomplete="off">提交</button>
                                         </div>
                                    </div>
                                    <div class="form-group">
                                          <label class="col-sm-1 control-label">返回结果</label>
                                          <div class="col-sm-11">
                                               <textarea class="form-control" rows="30">{{ ret }}</textarea>
                                          </div>
                                    </div>
                             </form>
                      </div>
                 </div>
            </div>
       </div>
       <!--row end-->


    </div> <!-- /container -->
{% endblock %}
