{% extends "base.html" %}
{% block title %}模块部署-移动终端自动化运维平台{% endblock %}
{% block nav %}
    <li><a href="{% url 'key_list' %}">认证信息</a></li>
    <li class="active"><a href="{% url 'module_deploy' %}">模块部署</a></li>
    <li><a href="{% url 'module_update' %}">模块更新</a></li>
    <li><a href="{% url 'remote_execution' %}">远程操作</a></li>
    <li><a href="{% url 'host_list' %}">主机列表</a></li>
{% endblock %}
{% block content %}
    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->

       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                             <form class="form-horizontal form-border" method="post" enctype="multipart/form-data" action="/common/module/deploy/?action=deploy">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">目标主机</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" name="tgt" value={{ tgt }}>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                          <label class="col-md-1 control-label">安装模块</label>
                                          <div class="col-md-11">
                                               <label class="checkbox-inline">
<!--
                                                  <input class="icheck" type="checkbox" checked="" value="install.init" name="module">初始化</label>
-->    
                                                  <input class="icheck" type="checkbox"  value="install.init" name="module">初始化</label>
                                           <label class="checkbox-inline">
                                                   <input class="icheck" type="checkbox" value="install.mobile" name="module">行情</label>
                                               <label class="checkbox-inline">
                                                   <input class="icheck" type="checkbox" value="install.manager" name="module">调度</label>
                                               <label class="checkbox-inline">
                                                   <input class="icheck" type="checkbox" value="install.info" name="module">资讯</label>
                                               <label class="checkbox-inline">
                                                   <input class="icheck" type="checkbox" value="install.acd" name="module">账号代理</label>
                                               <label class="checkbox-inline">
                                                   <input class="icheck" type="checkbox" value="install.monitor" name="module">监控</label>
                                               <label class="checkbox-inline">
                                                   <input class="icheck" type="checkbox" value="install.mysql" name="module">MySQL</label>
                                               <label class="checkbox-inline">
                                                   <input class="icheck" type="checkbox" value="install.tomcat" name="module">Tomcat+jdk</label>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                         <input type="hidden" name="mod" value={{ module }}>
                                         <div class="col-md-offset-11 col-md-12">
                                          <button type="submit" id="mo_deploy" data-loading-text="......." class="btn btn-primary" onclick="loag()" autocomplete="off">
                                            提交
                                          </button>
                                          <script>
                                                function loag() {
                                                    var btn = $("#mo_deploy");
                                                    btn.button('loading');
                                                    setTimeout(function () { btn.button('reset'); },36000000);
                                                    // 36000000ms = 10h
                                                }
                                          </script>
                                         </div>
                                    </div>
                                    <div class="form-group">
                                          <label class="col-md-1 control-label">返回结果</label>
                                          <div class="col-md-11">

                                              {% if hostsft %}
                                                <div class="alert alert-success" role="alert">
                                                  <strong>
                                                    本次执行对象共{{ hostsft.sum }}台，其中{{ hostsft.rsum }}台返回结果：成功{{hostsft.tr}}台，失败{{hostsft.fa}}台；未返回结果的有以下{{hostsft.unre}}台：{{ hostsft.unrestr }}
                                                  </strong> 
                                                </div>
                                              {% endif %}

                                                {% for each_ret,each_val in ret.items %}
                                                <!-- Button trigger modal -->
												{% if each_val.status == 'True' %}
													<button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{ each_ret }}">
												{% else %}
													<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ each_ret }}">
												{% endif %}

														{{ each_ret }}
													</button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="{{ each_ret }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">{{ each_ret }}</h4>
                                                      </div>
                                                      <div class="modal-body">
                                                        {{ each_val.cont|linebreaksbr }}
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                {% endfor %}
                                          </div>
                                    </div>
                             </form>
                      </div>
                 </div>
            </div>
       </div>

    </div> <!-- /container -->
{% endblock %}
