{% extends "base.html" %}
{% block title %}认证信息-移动终端自动化运维平台{% endblock %}
{% block nav %}
    <li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-dashboard"></i> 仪表盘</a></li>
    <li><a href="{% url 'host_list' %}"><i class="glyphicon glyphicon-th-list"></i> 主机列表</a></li>
    <li><a href="{% url 'module_deploy' %}"><i class="glyphicon glyphicon-th-large"></i> SaltStack</a></li>
    <li><a href="{% url 'replace_data' %}"><i class="glyphicon glyphicon-repeat"></i> 数据修复</a></li>
    <li class="active"><a href="{% url 'key_list' %}"><i class="glyphicon glyphicon-tags"></i> MinionKeys<span class="sr-only">(current)</span></a></li>
    <li><a href="{% url 'record' %}"><i class="glyphicon glyphicon-floppy-disk"></i> 操作记录</a></li>
{% endblock %}
{% block content %}
    <h5 class="page-header">
        <ol class="breadcrumb">
            <li><a href="{% url 'key_list' %}">已接受</a></li>
            <li class="active">待接受</li>
            <li><a href="{% url 'key_reject' %}">已拒绝</a></li>
        </ol>
    </h5>
    <form class="form-horizontal form-border" method="get" enctype="multipart/form-data" action="/common/key/accept/">
        {% csrf_token %}
        {% for each_dc in all_dc_list %}
            <div class="col-sm-12">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ each_dc }}</h3>
                </div>
                    <h4>
                        <div class="panel-body">
                            {% for each_dc_d,each_host_li in all_minions_pre.iteritems %}
                                {% if each_dc_d == each_dc %}
                                    {% for each_host in each_host_li %}
                                        <label class="checkbox-inline">
                                            <input class="icheck" type="checkbox" value="{{ each_host }}" name="unacckeys">
                                                <span class="label label-default">{{ each_host }}</span>
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </h4>
              </div>
            </div><!-- /.col-sm-12 -->
        {% endfor %}
        <div class="col-md-offset-3 col-md-6">
            <button type="submit" class="btn btn-primary btn-block">接受</button>
        </div>
    </form>
{% endblock %}
